# SSA Defaults

_extraResources
addons/
app.asar/addons
app.asar/assets
app.asar/config
app.asar/node_modules
app.asar/public
app.asar/main.js
app.asar/package.json
app.asar
.asar_extracted/
assets/

autoConfiguration.json

# NPM Packages
node_modules/
package-lock.json

# OS Files
desktop.ini
.DS_Store

# Editor Files
.vscode/

# Misc
*.bak
.mimosa/
